<!doctype html>
<html lang="en" ng-app="TodoApp">
	<head>
		<meta charset="utf-8">
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>

		<script src="app/scripts/app.js"></script>
		<script src="app/scripts/controllers/TodoController.js"></script>
		<script src="app/scripts/factories/todoFactory.js"></script>
		<script src="app/scripts/services/todoService.js"></script>
		<title>Todo App</title>
	</head>
	<body>
		<div id='todos' ng-controller="TodoController as ctrl">
			<input id='new-todo-name' placeholder='Title' ng-model='todoText'>
			<button id='add-todo' class='button' ng-click='ctrl.addTodo(todoText)'>Add</button>
			<br/><br/>
			<button class='button' id='complete' ng-click="ctrl.changeFilter(true)">Complete</button>
			<button class='button'ng-click="ctrl.changeFilter()">All</button>
			<button class='button' id='active' ng-click="ctrl.changeFilter(false)">Active</button>
			<li ng-repeat='todo in ctrl.todos | filter: {completed: ctrl.filter}'>
				<p>{{todo.text}}: {{todo.completed ? 'Completed' : 'Not Completed'}}</p>
				<button ng-if='!todo.completed'class='button' id='complete-todo' ng-click='todo.complete()'>Complete</button>
				<button class='button' id='delete-todo' ng-click='ctrl.deleteTodo($index)'>Delete</button>
			</li>
		</div>
	</body>
</html>