<!doctype html>
<html lang="en" ng-app="TodoApp">
	<head>
		<meta charset="utf-8">
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  	<link rel="stylesheet" href="app/styles/app.css">
		<script src="app/scripts/app.js"></script>
		<script src="app/scripts/controllers/TodoController.js"></script>
		<script src="app/scripts/factories/todoFactory.js"></script>
		<script src="app/scripts/services/todoService.js"></script>
		<title>Todo App</title>
	</head>
	<body>
		<div class='container text-center' id='todos' ng-controller="TodoController as ctrl">

			<header>
				<h1 class='text-center'>Todo</h1>
			</header>

			<div class="row">
			  <div class="col-lg-12">
			    <div class="input-group">
			      <input type="text" class="form-control" id='new-todo-name' placeholder='Title' ng-model='todoText'>
			     	<span class="input-group-btn">
			        <button class="btn btn-success" id='add-todo' ng-click='ctrl.addTodo(todoText)' type="button">Add</button>
			      </span>
			    </div><!-- /input-group -->
			  </div><!-- /.col-lg-6 -->
			</div><!-- /.row -->

			<ul class="nav nav-tabs">
			  <li role="presentation" ng-click="ctrl.changeFilter()"><a href="#">All</a></li>
			  <li role="presentation" id='complete' ng-click="ctrl.changeFilter(true)"><a href="#">Completed</a></li>
			  <li role="presentation" id='active' ng-click="ctrl.changeFilter(false)"><a href="#">Active</a></li>
			  <div>
				  <h3>{{results.length}}</h3>
				</div>	
			</ul>

			<ul id='todo' ng-repeat='todo in ctrl.todos | filter: {completed: ctrl.filter} as results'>
				<div class='row'>
					<div class='col-md-8'>
						<h4>{{todo.text}}</h4>
						<h6>{{todo.completed ? 'Completed' : 'Not Completed'}}</h6>
					</div>
					<div class='col-md-4'>
						<button ng-if='!todo.completed'class='btn' id='complete-todo' ng-click='todo.complete()'>Complete</button>
						<button class='btn btn-danger' id='delete-todo' ng-click='ctrl.deleteTodo($index)'>Delete</button>
					</div>
			</ul>
		</div>
	</body>
</html>